@{
    ViewBag.Title = "Home Page";
}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
                Your Favorite Source Of Alternative Snacks
            </h1>
            <hr>
            <p>
                Give your gaming sessions a special kind of flavour by trying out our tasty products! Just select your craved deliciousnesses and you are ready to go!
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">
                    Start creating your unique order with alternative snacks by selecting one of our featured products! Get your treat directly to your door step through the fastest delivery in Copenhagen!
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>


