@{
    ViewBag.Title = "Home Page";
}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
                Tastiest Homemade Snacks In The Universe!
            </h1>
           
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="section-featured" id="about">
    <div class="row">
       <div class="col-md-6 col-lg-3 nopadding">
           <div class="featured-image">
                <img src="~/Content/img/featured/featured1.jpg" class="img-responsive" alt="" />
                <div class="featured-hover">
                    <a class="btn btn-primary btn-xl page-scroll" href="">Smiley Heart Cookies</a>
                </div>
           </div>
       </div>
        <div class="col-md-6 col-lg-3 nopadding">
            <div class="featured-image">
                <img src="~/Content/img/featured/featured2.jpg" class="img-responsive" alt="" />
                <div class="featured-hover">
                    <a class="btn btn-primary btn-xl page-scroll" href="">Delicious Macarons</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 nopadding">
            <div class="featured-image">
                <img src="~/Content/img/featured/featured3.jpg" class="img-responsive" alt="" />
                <div class="featured-hover">
                    <a class="btn btn-primary btn-xl page-scroll" href="">Fine Chocolate</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 nopadding">
            <div class="featured-image">
                <img src="~/Content/img/featured/featured4.jpg" class="img-responsive" alt="" />
                <div class="featured-hover">
                    <a class="btn btn-primary btn-xl page-scroll" href="">Refreshments</a>
                </div>
            </div>
        </div>
      
    </div>
</section>

<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">

                    Start creating your unique order with alternative snacks by selecting one of our featured products! Get your treat directly to your door step through the fastest delivery in Copenhagen!
                </p>
                <p>

                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>


