@{
    ViewBag.Title = "Home Page";
}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>
                Your Favorite Source Of Alternative Snacks
            </h1>
            <hr>
            <p>
                Give your gaming sessions a special kind of flavour by trying out our tasty products! Just select your craved deliciousnesses and you are ready to go!
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">
                    Start creating your unique order with alternative snacks by selecting one of our featured products! Get your treat directly to your door step through the fastest delivery in Copenhagen!
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to give us some feedback? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">feedback@gamershop.com</a></p>
            </div>
        </div>
    </div>
</section>
